<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>职位管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
</head>
<body>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">部门</label>
                            <div class="layui-input-inline">
                                <label>
                                    <select name="departmentId" id="departmentList" lay-filter="departmentList" lay-search="">
                                        <option value="">直接选择或搜索选择</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">职位</label>
                            <div class="layui-input-inline">
                                <label>
                                    <select name="id" id="positionList" lay-search="">
                                        <option value="">直接选择或搜索选择</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除</button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
</body>
<script>
    layui.use(['form', 'table', 'miniPage', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

        let positionList, departmentList;

        form.render();

        table.render({
            elem: '#currentTableId',
            url: '/api/v1/position/page',
            method: 'post',
            contentType: "application/json;charset=UTF-8",
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print'],
            parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.status === '200' ? 0 : 1, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.records //解析数据列表
                }
            },
            cols: [
                [
                    {type: "checkbox", width: 50},
                    {field: 'name', minWidth: 150, title: '职位名称', sort: true},
                    {field: 'departmentName', minWidth: 150, title: '部门名称', sort: true},
                    {title: '操作', width: 150, toolbar: '#currentTableBar', align: "center"}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                },
                where: {
                    searchParams: data.field
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {   // 监听添加操作
                var content = miniPage.getHrefContent('/web/admin/organization/positionAdd');
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '添加职位',
                    type: 1,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    content: content,
                    success: function (layero, index) {
                        for (let i in departmentList) {
                            layero.find("#departmentList2").append("<option value=" + departmentList[i].id + ">" + departmentList[i].name + "</option>");
                        }
                        form.render('select');
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;

                if (data.length > 0) {
                    var names = data.map(i => i.name).join(",")
                    var ids = data.map(i => i.id)

                    layer.confirm('确认删除 ' + names + " 吗？", function (index) {
                        $.ajax({
                            url: '/api/v1/position/batch/' + ids,
                            method: 'delete',
                            success: function (res) {
                                if (res.status === '200') {
                                    layer.msg("删除成功", {time: 500, icon: 1, offset: '60px'}, function () {
                                        layer.close(index);
                                        location.reload();
                                    })
                                } else {
                                    layer.msg(res.message, {time: 5000, icon: 2, offset: '60px'})
                                }
                            }
                        });
                    });
                } else {
                    layer.msg("请先选择要删除的记录", {time: 5000, icon: 3, offset: '60px'})
                }
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                var content = miniPage.getHrefContent('/web/admin/organization/positionAdd');
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '编辑职位',
                    type: 1,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    content: content,
                    success: function (layero, index) {
                        //获取子页面的元素，进行数据渲染
                        layero.find("#id").val(data.id);
                        layero.find("#name").val(data.name);
                        for (let i in departmentList) {
                            layero.find("#departmentList2").append("<option value=" + departmentList[i].id + ">" + departmentList[i].name + "</option>");
                        }
                        layero.find("#departmentList2").val(data.departmentId);
                        form.render('select');
                    },
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确认删除 ' + data.name + " 吗？", function (index) {
                    $.ajax({
                        url: '/api/v1/position/' + data.id,
                        method: 'delete',
                        success: function (res) {
                            if (res.status === '200') {
                                layer.msg("删除成功", {time: 500, icon: 1, offset: '60px'}, function () {
                                    layer.close(index);
                                    location.reload();
                                })
                            } else {
                                layer.msg(res.message, {time: 5000, icon: 2, offset: '60px'})
                            }
                        }
                    });
                });
            }
        });


        // 获取所有部门
        $.ajax({
            url: '/api/v1/department/all',
            method: 'get',
            success: function (res) {
                if (res.status === '200') {
                    departmentList = res.data
                    for (let i in res.data) {
                        $("#departmentList").append("<option value=" + res.data[i].id + ">" + res.data[i].name + "</option>");
                    }
                } else {
                    layer.msg(res.message, {time: 5000, icon: 2, offset: '60px'})
                }

                form.render('select')
            }
        });

        // 获取所有职位
        $.ajax({
            url: '/api/v1/position/all',
            method: 'get',
            success: function (res) {
                if (res.status === '200') {
                    positionList = res.data
                } else {
                    layer.msg(res.message, {time: 5000, icon: 2, offset: '60px'})
                }
            }
        });

        form.on('select(departmentList)', function (data) {
            $("#positionList").empty();
            $("#positionList").append("<option value=\"\">直接选择或搜索选择</option>");

            let selectPositionList = positionList.filter(p => p.departmentId === data.value);
            if (selectPositionList) {
                for (let i in selectPositionList) {
                    $("#positionList").append("<option value=" + selectPositionList[i].id + ">" + selectPositionList[i].name + "</option>");
                }
            }

            form.render("select");
        })

    });
</script>
</html>